<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="workingDirectory" value="ImageStorage"/>
    <add key="image1" value="..\..\Files\wcf.png"/>
    <add key="image2" value="..\..\Files\microsoft.png"/>
  </appSettings>
    <system.serviceModel>
      <services>
        <service name="WcfImageViewer.Services.FileSystemPictureManager">
          <endpoint address="net.pipe://localhost/PictureManager" binding="netNamedPipeBinding" contract="WcfImageViewer.Contracts.ServiceContracts.IPictureManager" bindingConfiguration="ImageTransfer" />
        </service>
      </services>
      <bindings>
        <netNamedPipeBinding >
          <binding name="ImageTransfer" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
        </netNamedPipeBinding>
      </bindings>
      <client>
        <endpoint address="net.pipe://localhost/PictureManager" binding="netNamedPipeBinding" contract="WcfImageViewer.Contracts.ServiceContracts.IPictureManager" bindingConfiguration="ImageTransfer" />
      </client>
    </system.serviceModel>
</configuration>