<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPictureManager" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/PictureManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPictureManager" contract="PictureClient.IPictureManager"
                name="NetTcpBinding_IPictureManager">
                <identity>
                    <userPrincipalName value="DESKTOP-TEHD8JF\maxon" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>