<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="workingDirectory" value="ImageStorage"/>
    <add key="image1" value="..\..\Files\wcf.png"/>
    <add key="image2" value="..\..\Files\microsoft.png"/>
  </appSettings>
    <system.serviceModel>
      <services>
        <service name="WcfImageViewer.Services.FileSystemPictureManager">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9092" />
            </baseAddresses>
          </host>
          <endpoint address="net.tcp://localhost:9999/PictureManager" binding="netTcpBinding" contract="WcfImageViewer.Contracts.ServiceContracts.IPictureManager" bindingConfiguration="ImageTransfer" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <netTcpBinding >
          <binding name="ImageTransfer" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:9999/PictureManager" binding="netTcpBinding" contract="WcfImageViewer.Contracts.ServiceContracts.IPictureManager" bindingConfiguration="ImageTransfer" />
      </client>
    </system.serviceModel>
</configuration>