@model WcfImageVeiwer.Client.Models.PageModel
    @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 >Choose the picture</h2>
    <div class="row">
        <div style="overflow: auto;" class="col-lg-4">
            <div class="list-group">
                @foreach (var picture in Model.Pictures)
                {
                    if (picture.IsActive)
                    {
                        @Html.ActionLink(picture.DisplayName, "Index", "Home", new{id=picture.Id}, new { @class = "list-group-item active" })
                    }
                    else
                    {
                        @Html.ActionLink(picture.DisplayName, "Index", "Home", new{id=picture.Id}, new { @class = "list-group-item" })
                    }
                }
            </div>
        </div>
        <div class="col-lg-8" >
            <img style="max-width: 100%" src="@String.Format("data:image/png;base64,{0}", Model.ImageBase64String)" />
        </div>    
    </div>

    <p>
        <label class="btn btn-default btn-file">
            Add Picture<input type="file" style="display: none;">
        </label>
    </p>
</div>

